html {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background-color: #232222;
    margin-top: 3vw;
}

header {
    z-index: 999;
    position: absolute !important;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: start;
}

header nav{
    display: flex;
    gap: 2vw;
}

header nav h1{
    cursor: pointer;
    color: white;
    transition: all .2s;
}

header nav a{
    text-decoration: none;
}

header nav h1:hover{
    color: #487cbe;
}

header img {
    width: 3vw;
    cursor: pointer;
    display: none;
}

header ul {
    background-color: #232222;
    list-style: none;
    padding: 2vw;
    border-radius: 1vw;
    display: none;
    flex-direction: column;
    gap: .6vw;
    align-items: end;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.126);
}

header ul a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}

@media(max-width: 700px) {
    header {
        padding: 5vw;
        justify-content: end;
        align-items: start;
    }

    header nav{
        display: none;
    }

    header img {
        width: 10vw;
        display: block;
    }

    header ul {
        padding: 5vw;
    }

    header ul a {
        font-size: 5vw;
    }
}


main {
    position: relative;
    overflow: hidden;
    /* Ensures the canvas doesn't overflow outside the main section */
    background-color: #232222;
}

.large-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background-color: #232222;
}

#demo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Ensures the canvas covers the entire main section */
    opacity: 0;
    /* Start with the canvas invisible */
}

.main-title {
    position: absolute;
    margin: 0;
    margin-left: 4vw;
    padding: 100px;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
    /* Start with the text invisible */
}

.main-title h1 {
    font-size: 6vw;
    line-height: 0;
    opacity: 1;
    /* Ensure the h1 element itself is visible */
}

.main-title p {
    font-size: 4vw;
    line-height: 0;
}

.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 6vw;
    /* Adjusted for your design */
    color: #f9f1e9;
    margin: 0;
    padding: 0;
}

.text-wrapper1 {
    position: relative;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-bottom: 3vh;
}

.text-wrapper1 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

.text-wrapper1 .letter:nth-child(1) {
    font-family: 'HelveticaNeueBold', sans-serif;
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 2em;
    /* Adjust the size as needed for your design */
    color: #f9f1e9;
    opacity: 0;
    /* Start with the tagline invisible */
    font-family: 'HelveticaNeueLight', sans-serif;
    font-weight: 100;
    margin-block-start: 7vh;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

@media only screen and (max-width: 768px) {

    .main-title h1 {
        font-size: 11vw;
    }
}

#aboutus {
    height: 100vh;
    width: 100%;
    background-color: #232222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow-x: hidden;
}

.about-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about-video video {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 2vw;
    object-fit: cover;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    color: white;
    border-radius: 10px;
    width: 50%;
    /* transform: rotate(10deg); */
    /* letter-spacing: .07vw; */
}

.about-text h1 {
    font-size: 9vw;
    margin-block: 0;
}

#about-description span {
    font-size: 1.5vw;
    line-height: 1.3em;
    display: inline-block;
    opacity: 0;
    /* Hide initially */
}

@media(max-width:700px) {

    #aboutus {
        flex-direction: column;
    }

    .about-video {
        width: 100%;
    }

    .about-text {
        width: 80%;
    }

    .about-text h1 {
        font-size: 16vw;
        margin-block: 0;
    }

    #about-description span {
        font-size: 4vw;
        line-height: 1.3em;
        display: inline-block;
        opacity: 0;
        /* Hide initially */
    }
}

@media(min-width: 2500px) {
    #about-description span {
        letter-spacing: .1vw;
    }
}

#video-player {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    position: relative;
}

#video-player video {
    width: 80%;
    object-fit: cover;
    /* Responsive video */
    height: auto;
    border: 5px solid #fff;
    /* Optional border */
    margin: 0;
    border: none;
    border-radius: 1vw;
}

#video-player div {
    position: absolute;
    bottom: 1vw;
    right: 13vw;
}

#video-player div img {
    width: 2vw;
    padding: 1vw;
    background-color: #31313181;
    border-radius: 100%;
    cursor: pointer;
}

#video-player div img:hover {
    background-color: #313131;
}

@media(max-width:700px) {
    #video-player video {
        width: 95%;
        border-radius: 15px;
    }

    #video-player div {
        right: 7vw;
        bottom: 2vw;
    }

    #video-player div img {
        width: 5vw;
    }

    #video-player div img:hover {
        background-color: none;
    }
}

#servicesHeader {
    background-color: #232222;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    margin-bottom: 7vw;
}

#servicesHeader h1 {
    margin: 0;
    font-size: 8vw;
    line-height: 7.5vw;
}

#servicesHeader img:nth-child(1){
    height: 12vw;
    width: auto;
    margin-block: auto;
}

#servicesHeader img:nth-child(2) {
    width: 13vw;
}

@media(max-width: 700px) {
    #servicesHeader {
        margin-top: 70px;
        padding-bottom: 0;
    }

    #servicesHeader h1 {
        font-size: 12vw;
    }

    #servicesHeader img {
        width: 20vw;
    }

    #servicesHeader img:nth-child(1){
        height: 20vw;
    }

    #servicesHeader img:nth-child(2){
        height: 20vw;
    }
}

@media(min-width: 1000px){

}

#services {
    width: 100%;
    background-color: #232222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .service-card {
    background-color: #333;
    height: 70vh;
    width: 80%;
    margin-block: 2vw;
    margin-inline: 4vw;
    padding: 4vw;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
}

#services .services-video {
    width: 40%;
    overflow: hidden;
    border-radius: 1vw 10vw 1vw 1vw;
    display: flex;
    justify-content: center;
}

#services .services-video video {
    height: 100%;
}

#services .service-card .text-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#services .service-card h1 {
    font-size: 6vw;
    margin-block: 0;
}

#services .service-card p {
    font-size: 1.5vw;
    margin-block-start: 0;
}

#services .service-card .tags {
    margin-block: 25px;
}

#services .service-card .tags span {
    font-size: 1.2vw;
    margin-block-start: 0;
    border: 2px solid rgba(255, 255, 255, 0.388);
    padding: .7vw 1.5vw;
    margin-right: .5vw;
    margin-bottom: .8vw;
    display: inline-block;
    border-radius: 20px;
    transition: all .2s;
}

#services .service-card .tags span:hover {
    background-color: white;
    color: #232222;
}

@media(max-width: 700px) {
    #services .service-card {
        flex-direction: column-reverse;
        max-width: 85%;
        gap: 10px;
        height: 80vh;
        margin-block: 5vh;
    }

    #services .services-video {
        width: 100%;
    }

    #services .service-card .text-content {
        width: 100%;
        justify-content: flex-start;
        padding-top: 20px;
    }

    #services .service-card h1 {
        font-size: 10vw;
    }

    #services .service-card .tags span {
        font-size: 3.5vw;
        margin-block-start: 0;
        border: 2px solid rgba(255, 255, 255, 0.388);
        padding: 1vw 2vw;
        margin-right: .5vw;
        margin-bottom: 1vw;
        display: inline-block;
        border-radius: 20px;
        transition: all .2s;
    }

    #services .service-card p {
        font-size: 4vw;
        margin-block-start: 0;
    }
}

#portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    position: relative;
    flex-direction: column;
    color: white;
    padding-bottom: 50vh;
    background-color: #232222;
    overflow: hidden;
}

#portfolio .img1 {
    aspect-ratio: 9/10;
    height: 75%;
    object-fit: cover;
    object-position: center;
    max-width: 90vw;
}

#portfolio .img2,
#portfolio .img3 {
    width: 30vw;
    height: fit-content;
    position: absolute;
    top: 30vh;
}

#portfolio .img2 {
    right: 50%;
}

#portfolio .img3 {
    left: 50%;
}

#portfolio .img4, #portfolio .img5, #portfolio .img6{
    width: 30vw;
    height: fit-content;
    position: absolute;
    bottom: 20vh;
}

#portfolio .img4 {
    right: 0;
    width: 25vw;
}

#portfolio .img5 {
    left: -5%;
}

#portfolio .img6 {
    bottom: -25vh;
}

#portfolio .text-content {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portfolio .text-content p:nth-child(1) {
    font-size: 1vw;
}

#portfolio .text-content p img {
    width: 1.2vw;
}

#portfolio h1 {
    font-size: 10vw;
    text-align: center;
    line-height: .95em;
    margin-block: 0;
    transition: all .2s;
}

#portfolio h1:hover {
    color: #487cbe;
}

#portfolio p:nth-child(3) {
    font-size: 1.5vw;
    line-height: 1.7vw;
    text-align: center;
}

#portfolio a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2vw;
}

#portfolio iframe {
    border: none;
    transform: rotate(-90deg);
    height: 6.5vw;
    aspect-ratio: 1;
    border-radius: 100%;
    border: .6vw solid white;
    margin-bottom: 1vw;
}


@media(max-width: 700px) {

    #portfolio {
        height: fit-content;
    }

    #portfolio .img2,
    #portfolio .img3,
    #portfolio .img4,
    #portfolio .img5,
    #portfolio .img6 {
        display: none;
    }

    #portfolio .text-content p:nth-child(1) {
        font-size: 3vw;
    }

    #portfolio h1 {
        font-size: 14vw;
    }

    #portfolio p:nth-child(3) {
        font-size: 4vw;
        line-height: 1.7em;
    }

    #portfolio a {
        font-size: 3vw;
        gap: 5vw;
    }

    #portfolio iframe {
        height: 17vw;
        border: 1.5vw solid white;
    }
}

footer {
    height: fit-content;
    width: 100%;
    background-color: rgb(59, 59, 59);
    color: white;
    display: flex;
    font-size: .9vw;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

footer .about,
footer .follow,
footer .reach-us {
    width: 25%;
    padding-inline: 5vw;
}

footer h1 {
    margin: 0;
    margin-bottom: 1.5vw;
}

footer h2 {
    margin-bottom: 0;
}

footer p {
    margin-top: 5px;
}

footer input {
    font-size: .8vw;
    background-color: white;
    padding: .8vw 1vw;
    border-radius: .8vw;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 1vw;
}

/* From Uiverse.io by adamgiebl */
footer button {
    font-family: inherit;
    font-size: 1.2vw;
    background: royalblue;
    color: white;
    padding: 0.7vw 1vw;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1vw;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

footer button span {
    display: block;
    margin-left: 0.3vw;
    transition: all 0.3s ease-in-out;
}

footer button svg {
    width: 1vw;
    object-fit: contain;
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

footer button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

footer button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

footer button:hover span {
    transform: translateX(5em);
}

footer button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

footer .follow img {
    width: 2vw;
    background-color: #2322226c;
    border-radius: .7vw;
    padding: .5vw;
    transition: all .2s;
    cursor: pointer;
}

footer .follow img:hover {
    background-color: #232222;
}

@media(max-width: 700px) {
    footer {
        flex-direction: column;
        font-size: 4vw;
        align-items: center;
        height: fit-content;
        margin-bottom: 10vh;
        gap: 2vh;
    }

    footer .about,
    footer .follow,
    footer .reach-us {
        width: 80%;
        padding-inline: 5vw;
    }

    footer input {
        font-size: 4vw;
        padding: 1.5vw 2vw;
        margin-bottom: 3vw;
    }

    footer button {
        font-size: 5vw;
        padding: 1.9vw;
    }

    footer button svg {
        display: none;
    }

    footer button:hover span {
        transform: none;
    }

    footer .follow img {
        width: 8vw;
    }
}