body {
    margin: 0;
    height: 30000vh; /* Increased height for more vertical scroll */
    overflow-y: scroll;
    background-color: #232222;
    color: white;
}

h1{
    position: fixed;
    top: 1vw;
    left: 3vw;
    font-size: 3vw;
}

p{
    position: fixed;
    bottom: 2vw;
    right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2vw;
    font-size: 1.3vw;
}

p img{
    height: 1.5vw;
}

#scroll-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

#image-gallery {
    display: inline-block;
    height: 100%;
    transition: transform 0.2s ease;
    padding: 0 1vw; /* Padding for the gallery */
    box-sizing: border-box;
}

#image-gallery img {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none;
}

@media(max-width: 700px){
    h1{
        font-size: 7vw;
    }
    p{
        font-size: 4vw;
    }

    p img{
        height: 5vw;
    }
}